body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
.flexable-container{
    display: flex;
}
.half-with{
    width: 50%;
    padding-left: 3%;
}
.half-with p{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Instrument Serif', serif;
    font-family: 'Poppins', sans-serif;


}
.half-with img{
    width: 80%;
    padding-top: 25px;
}
.link{
    color: white;
    text-decoration: none;
    border: 3px solid orange;
    font-weight: 700px;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url(logo.avif);
    background-repeat: no-repeat;
    background-position: 30px 15px;
    background-attachment: fixed;
    height: max-content;
 
}
.secend-part{
    margin-top: 100px;
    display: flex;
}
.width{
    width: 50%;
    height: 50%;
}
.shudo{
    box-shadow: 10px 5px 10px grey;
    width: 40%;
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
    
}
#border-1{
    border-left: 10px solid red;
} 
#border-2 {
    border-left: 10px solid tomato;
}
footer{
    text-align: center;
    font-size: 25px;
    color: blue;
    background-image:linear-gradient(blue, orange) ;
}
